#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*All*/

.pageHeader{
  margin-top: 8svw;
  color: rgb(11, 1, 24);
  font-family:'Courier New', Courier, monospace;
}

#pageDescription{
  color: rgb(89, 11, 244);
  font-weight: bolder;
  font-size: 10pt;
}

/*------------------------------------*/

/*NavBar*/

.navbar{
  position: fixed;
  height: 3svh;
  left: 37%;
  top: 15px;
  z-index: 1;
  padding: 15px;
  padding-top: 20px;
  background-color: rgb(247, 241, 254);
  border-radius: 40px;
}

.navbar > .links{
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(89, 11, 244);
  color: rgb(247, 241, 254);
  font-weight: 500;
}

.navbar > .links:hover{
  background-color: rgb(80, 12, 218);
}
/*------------------------------------*/

/*About Me!*/

#linkToContact{
  background-color: none;
  color: rgb(64, 44, 245);
}

#masterDiv{
  width: 100%;
  aspect-ratio: .2;
  position: relative;
  display: flexbox;
}

#backgroundDiv{
  padding: 20px;
  width: 40svw;
  aspect-ratio: 5;
  top: 0svh;
  left: -37svw;
  position: absolute;
  background-color: rgb(248, 119, 143);
  text-wrap:pretty;
  border-radius: 20px;
}

#backgroundDiv > p{
  color: black;
  font-weight: bold;
  font-size: 12pt;
}

#backgroundDiv > h3{
  color: black;
  font-family: Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20pt;
  text-transform: uppercase;
}

#workDiv{
  padding: 20px;
  width: 40svw;
  aspect-ratio: 5;
  top: 10svh;
  left: 7svw;
  position: absolute;
  background-color: rgb(89, 11, 244);
  text-wrap:pretty;
  border-radius: 20px;
}

#workDiv > p{
  color: white;
  font-weight: lighter;
  font-size: 15pt;
}

#workDiv > h3{
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20pt;
  text-transform: uppercase;
}

/*------------------------------------*/

/*Contact*/

.horizontalRow{
  line-height: 50%;
}
.contactLink{
  color: rgb(89, 11, 244);
}

/*------------------------------------*/

/*Footer*/

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  aspect-ratio: 20;
  color: rgb(89, 11, 244);
  background-color: rgb(231, 225, 238);
  padding: 5px;
  justify-content: center;
  font-size: 13pt;
}
.footer > a{
  text-decoration: underline;
}

/*------------------------------------*/